/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.img-matrix {
  width: 100%;
}
.more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
.header { text-align: center;
}
}
.main-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.new-task__task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.new-task__field {
  display: flex;
}
.todo-tasks,
.completed-tasks {
  margin:0;
  padding: 0px;
}
.li-item, .title {
  list-style:none;
}
.new-task__task-input, .task-input, .todo-task__checkbox, .completed-task__checkbox, .button{
  outline:none;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-input,
.new-task__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-input:focus,
.new-task__task-input:focus {
  color: #333;
}

/* New Task */
.new-task__label {
  width: 100%;
}
.new-task__task-input {
  width: 318px;
}

/* Task list */
.li-item,
.new-task__label {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.li-item > * {
  vertical-align: middle;
}

.todo-task__checkbox,
.completed-task__checkbox {
  margin: 0 10px;
}
.label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-input {
  width: 226px
}
.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks__label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.task-input{
  display:none
}

.edit-mode .task-input {
  display:inline-block;
  width:224px
}

.edit-mode .label{
  display: none;
}